@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap'); /*heading I Font Bodoni Moda*/
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');/*text, caption II Font Heebo*/
html, body {
    height: 100%;
}

body {
    padding: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: 'Bodoni Moda', serif;
}

main {
    margin: 40px;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

img {
    max-width: 100%;
}
#imgprofilo{
    width:10%;
    border-radius: 40px;
    float:right;
    margin:20px;
    margin-left:40px
}

/* Homepage */

.intro {
    transform: translateY(22vh);
    position:relative;
    bottom:100px;

}

.intro > h1 {
    color: #212121;
    font-size: 111px;
    font-weight: normal;
}

.intro > h2 {
    color: #454545;
    font-size: 69px;
    font-weight: normal;
    text-align:left;
    font-family: 'Bodoni Moda', serif;
    position:relative;
    bottom:29px;
}
.intro > h5{
    text-align: left;
    font-family: "Bodoni Moda", serif;
    font-size: 28px;
}

.intro > p{
    text-align: left;
    font-family: "Heebo";
    font-size: 16px;
}

.intro .dot{
    height:100px;
    width: 100px;
    margin:10px;
    border-radius: 50%;
    display:inline-block;
    background-color: #C4C4C4;

}

.dot:hover{
    opacity: 0.7;
}
a > .dot{
    background-image: url("../image/facebook.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 70%;
}

a:nth-of-type(2) > .dot{
    background-image: url("../image/mail1.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 70%;
}
a:nth-of-type(3) > .dot{
    background-image: url("../image/twitter.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 70%;
}
a:nth-of-type(4) > .dot{
    background-image: url("../image/instagram.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 70%;
}

.line{
    position: fixed;
    left: 1400px;
    background-color: #C4C4C4;
    border-radius: 40px;
    background: #C4C4C4;
    padding: 20px;
    width: 700px;
    height: 100px;
    bottom: 80px;
}
/*Header menu*/
.num-head{
    opacity:0.5;
}

#menubar .iniziali{
    margin-left: 20px;
    float:left;
    font-family:"Bodoni Moda", serif;
    font-size:60px;
    text-decoration: none;
    color: #333333;
    padding:5px;
    border: #333333 2px inset;
}
/*
#menubar{
    overflow: hidden;
}*/
#menubar a:not(.iniziali){
    float:right;
    margin:80px;
    color:#333333;
    text-align:center;
    text-decoration:none;
    font-family: "Heebo";
    font-size:16px;
}
#menubar a:hover:not(.iniziali){
    border-bottom: #333333 2px solid;
    color:#333333;
}
#menubar a:nth-of-type(2){
    margin-right:130px;
}

#menubar a.active{
    border-bottom: #333333 2px dotted;
}
/* Page content */

.content {
    padding-top: 20px;
}

/* Profile picture */
#pic{
    background-color:#C4C4C4;
    
    width:100px;
    height:100px;
    display:block;
    float:right;
    position:relative;
    left:200px;
    bottom:200px;
    margin:20px;
}
.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* Colored links */



/* Copyright message */

.copyright {
    margin: 15px 0;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}
